@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background-color: blanchedalmond;
}

.options {
  flex-basis: 25%;
  margin: 1rem;
  padding: 1rem;
  border: thin solid rebeccapurple;
  border-radius: .5rem;
  box-shadow: .25rem .25rem .5rem rebeccapurple;
  min-width: 270px;
  background-color: lightpink;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 800px;
}

button {
  font-size: 22px;
  margin: 2rem;
  padding: 0.5rem;
  background-color: rebeccapurple;
  border: solid thin black;
  color: white;
}

button:active {
  color: rebeccapurple;
  background-color: white;
  border: thin solid rebeccapurple;
}

.orders{
  margin-left: 40px;
}